.circle {
    width: 150px;      /* กำหนดขนาดความกว้าง */
    height: 150px;     /* กำหนดขนาดความสูง */
    border-radius: 50%; /* ทำให้ภาพเป็นวงกลม */
    object-fit: cover;  /* ทำให้ภาพไม่เบี้ยวและครอบคลุมพื้นที่ */
    margin-bottom: 20px;
  }